
// Body
$body-bg: #fff;

// Typography
//$font: "Old Standard TT", sans-serif; // classy, serif, oldschool good for marketing blurb
//$font: "Nunito", sans-serif; // Laravel default, modern, sans, rounded, minimal
//$font: "Oswald", sans-serif; // Tight, bold, sans - not good for body text - heading only
//$font: "Open Sans", sans-serif; // Wide, full, sans, modern, heavy
//$font: "Josefin Sans";  // deco-looking, 1920's heavy, wide. too heavy I think
$font: "Nanum Myeongjo", sans-serif; // Very classy looking, good font
$font-secure: "Nunito", sans-serif; // Laravel default, modern, sans, rounded, minimal
//$font-header: "Oswald", sans-serif;
//$font-body: "Oswald", sans-serif;
//$font: "Sofia", sans-serif;  // deco-looking, 1920's heavy, wide. too heavy I think

$font-header: $font;
$font-body: $font;

$font-groupon: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// RGBA Colours
$duckegg: rgba(170, 204, 204, 1);
$charcoal: rgba(0, 0, 0, 0.45);
$clearwhite: rgba(255, 255, 255, 0.95);
$fullwhite: rgba(255, 255, 255, 1);
$transparent: rgba(255, 255, 255, 0.0);
$opaque: rgba(240,240,240,0.9);
$midgrey: rgba(100, 100, 100, 0.9);
$battleship: rgba(110, 110, 110, 0.9);

