
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

li.hidden-login-link a i {
  background-color: #fff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0.5, 1, 0.5, 0.04);
  &.hover {
    color: #f00;
  }
}
